<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("_head") %>
</head>

<body>

  <%- include("_header") %>

    <main class="body">
      <div class="título">
        <%= title %>
      </div>
      <div class="história">
        <a href="/add-product/">Adicionar um novo item </a> <br>
        <a href="/edit-product/">Editar um item do cardápio </a> <br>
        <a href="/delete-product/">Deletar um item do cardápio </a>

      </div>
    </main>
</body>

</html>