<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("_head") %>
</head>

<body>
    <%- include("_header") %>

        <div class="container">

            <h1 class="título">Deletar um item do cardápio</h1>
            <form action="/delete" method="get">
                <div class="mb-3">
                    <label for="productId" class="form-label">Qual produto que deseja excluir?</label>
                    <select class="form-select" name="productId" required="required"
                        aria-label="Selecione o produto que deseja excluir">
                        <option selected value="">- Selecione aqui...</option>
                        <% products.forEach(product=> { %>
                            <option value="<%= product.id %>">
                                <%= product.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>

                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Excluir
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Deseja mesmo excluir o produto?
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Cancelar
                                </button>

                                <button type="submit" class="btn">Deletar item</button>

                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
</body>

</html>