<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("_head") %>
</head>

<body>

  <%- include("_header") %>

    <main class="body">
      <div class="história">
        Somos uma hamburgueria dark kitchen criada durante a pandemia com inspiração <br>
        nos cantores da década de 80. Nosso cardápio foi idealizado em uma collab realizada <br> entre a chef Karen
        Carosella (especialista em carnes), Cláudia Atala (chef Pâtissier), <br>
        Letícia Jacquin (chef Entremétier), Isabella Gil (chef vegan) e Milena Fogaça (mixologista).
      </div>
    </main>
</body>

</html>